{{ define "head" }}
<script type="application/ld+json">
{"@context":"https://schema.org","@graph":[
 {{ partial "org-schema.html" . | safeJS }},
 {{ partial "breadcrumb-schema.html" . | safeJS }},
 {"@type":"{{ cond (eq .Type "artigo") "Article" "WebPage" }}","headline":{{ .Title | jsonify }},"description":{{ .Description | jsonify }},"url":"{{ .Permalink }}","inLanguage":"pt-BR","datePublished":"{{ .Date.Format "2006-01-02" }}","dateModified":"{{ .Lastmod.Format "2006-01-02" }}","image":"{{ "og.png" | absURL }}","author":{"@id":"{{ site.BaseURL }}#org"},"publisher":{"@id":"{{ site.BaseURL }}#org"},"isPartOf":{"@id":"{{ site.BaseURL }}#website"}}
 {{- partial "faq-schema.html" . | safeJS }}
]}
</script>
{{ end }}
{{ define "main" }}
<article class="text">
  <h1>{{ .Title }}</h1>
  {{- if eq .Type "artigo" }}
  <p class="meta">Atualizado em <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod | time.Format ":date_long" }}</time></p>
  {{- end }}
  {{ .Content }}
  {{ partial "faq.html" . }}
  {{- if eq .Type "artigo" }}
  <p><a href="/">← Abrir o metrônomo online</a></p>
  {{- end }}
</article>
{{ end }}
