{{- with site.Params.google_site_verification }}<meta name="google-site-verification" content="{{ . }}">{{ end }}
{{- with site.Params.adsense.client }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}" crossorigin="anonymous"></script>
{{- end }}
{{- with site.Params.ga }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
{{ $ga := resources.FromString "js/ga.js" (printf "window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','%s');" .) | fingerprint }}
<script async src="{{ $ga.RelPermalink }}"></script>
{{- end }}
